{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <div align="middle">

        <img src="{{url_for('static', filename='profile_pics/fighting_girl.jpg')}}" align="right"
        style="width:200px;height:300px;"/>

    </div>
    <p style="font-size:115%;"> Hi everyone! </p>
<p style="font-size:115%;"> This blog is for supporting and getting updates from <span style="color: #3385ff"> Audrey.</span> </p>
    <p style="font-size:115%;"><span style="color: #3385ff"> Audrey</span> , like her name, she is noble and strong, dealing these days with "the disease". <br> So.. meet Gershon, the malignant tumor of Audrey, discovered in 10.12.2020.
        From the moment Gershon appeared in Audrey's life, Audrey and her friends were ready for the war.<br>
        <font size="+2"><b>The war on cancer.</b></font></p>


    <p style="font-size:115%;">To support Audrey in the war, she built a strong group for updates and support.
        This blog is inspired by Audrey and her friends and allows audrey and her friends,
        to share her thoughts, feelings, requests and basically everything she needs to win the war. </p>
    <p style="font-size:115%;">The blog also allows her friends to comment, show their support and share positive thoughts and energy.</p>

{% endblock content  %}
